<style>
        .logo {
            text-align: center;
        }
        .presentation {
            margin: 20px;
        }
        .mission-vision {
            margin: 20px;
        }
        .gallery {
            margin: 20px;
        }
        .videos {
            margin: 20px;
        }
        .contact {
            text-align: center;
            margin: 20px;
        }
    </style>