
        body{
            background-color: black;
            color: aliceblue;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        .logo {
            text-align: center;
        }
        .presentation {
            margin: 20px;
        }
        .mission-vision {
            margin: 20px;
        }
        .gallery {
            margin: 20px;
        }
        .videos {
            margin: 20px;
        }
        .contact {
            text-align: center;
            margin: 20px;
        }
    